.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:1.1rem;
}
.container>h2{
    font-size: 1.4rem;
    font-family: 'Poppins',sans-serif;
    color: 
    rgba(0, 0, 0, 1);
}
.optionContainer{
    display: flex;
    gap: 2rem;
    font-family: 'Poppins',sans-serif;
}

.border{
    height: 2px;
    width: 34rem;
    background-color:rgba(215, 215, 215, 1) ;
}
.answerOption{
   width: 10rem;
   height:3.8rem; 
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:0.1rem;
   border-radius:5px;
}
.answerOption>h3{
    color: rgba(71, 68, 68, 1);
    font-size: 1.4rem;
    font-weight: 600;
    
}
.answerOption>span{
    font-size:0.55rem;
    font-weight: 600;
    color:rgba(71, 68, 68, 1) ;
}

@media screen and (min-width:992px){
    .container{
        gap:1.4rem;
    }
    .container>h2{
        font-size: 1.4rem;
       
    }
    .optionContainer{
        gap: 2.2rem;
    }
    .answerOption{
        width: 11.5rem;
        height: 4.2rem;
        gap: 0.1rem;
    }
    .answerOption>h3{
        font-size: 1.4rem;
    }
    .answerOption>span{
        font-size: 0.65rem;
    }
    .border{
        width: 39rem;
    }
}

@media screen and (min-width:1200px){
    .container{
        gap:1.8rem;
    }
    .container>h2{
        font-size: 2rem;
       
    }
    .optionContainer{
        gap: 2.2rem;
    }
    .answerOption{
        width: 15rem;
        height: 6rem;
        gap: 0.2rem;
    }
    .answerOption>h3{
        font-size: 2.2rem;
    }
    .answerOption>span{
        font-size: 0.85rem;
    }
    .border{
        width:49.2rem;
    }
}