.popupContainer {
    position: fixed;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(255, 255, 255, 1);
    border:none; 
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap:2rem;
    
}
.inputContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 3.5rem;
    
}
.quizzName{
    width: 100%;
    height: 3.8rem;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.15);
    color: rgba(159, 159, 159, 1);
    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem;
    
}
.quizzName::placeholder{
    color: rgba(159, 159, 159, 1);
    font-family: 'Poppins',sans-serif;
    
}
.choiceContainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin:auto;
    color: rgba(159, 159, 159, 1);
   
}
.choiceContainer>span{
    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
   
}
.qaChoice{
    width:8rem;
    height:2.1rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:0 0 25px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    color: rgba(159, 159, 159, 1);
    cursor: pointer;
}
.pollChoice{
    width:8rem;
    height:2.1rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:0 0 25px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    color: rgba(159, 159, 159, 1);
    cursor: pointer;
}
.buttonContainer{
    width: 76%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.cancelButton{
    width: 12.5rem;
    height: 2.2rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(71, 68, 68, 1);
    box-shadow:0 0 15px 3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.continueButton{
    width: 12.5rem;
    height: 2.2rem;
    border: none;
    background-color: rgba(96, 184, 75, 1);
    color:rgba(255, 255, 255, 1);
    border-radius: 7px;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.active{
    color:rgba(255, 255, 255, 1) ;
    background-color: rgba(96, 184, 75, 1);
}
