.container {
    width: 16%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.heading{
    text-align: center;
    font-size: 1.7rem;
    font-family: "Jomhuria",sans-serif;
    color: rgba(71, 68, 68, 1);
    font-weight: 400;
}
.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.button{
    width:90%;
    height:2rem;
    text-align: left;
    padding-left: 1.2rem;
    border: none;
    background-color:inherit ;
    font-family: "Poppins",sans-serif;
    color:rgba(71, 68, 68, 1);
    font-size:1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}

.active{
    
    background-color:rgba(255, 255, 255, 1) ;
    box-shadow:0 0 14px 2px rgba(0, 0, 0, 0.12);
    border-radius:8px;
}
.logoutContainer{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}
.border{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: black;

}
.logoutButton{
    border: none;
    background-color: inherit;
    font-family: "Poppins",sans-serif;
    color:rgba(71, 68, 68, 1);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width:992px) {
    .container{
        padding-top: 1rem;
        padding-bottom:1rem;
    }
    .heading{
        font-size:4rem;
    }
    .buttonContainer{
        gap:1.5rem;
    }
    .button{
        height:2.2rem;
        font-size: 1.1rem;
    }
    .logoutContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .border{
        height: 1px;
        background-color: black;
    
    }
    .logoutButton{
        font-size:1.2rem;
    }
    
 }
 
 @media screen and (min-width:1200px){
    .container{
        padding-top: 1.2rem;
        padding-bottom:1.2rem;
        width: 15%;
    }
    .heading{
        font-size:5rem;
    }
    .buttonContainer{
        gap:2.5rem;
    }
    .button{
        height:2.5rem;
        font-size: 1.2rem;
        padding-left: 1.7rem;
    }
    .logoutContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .border{
        height: 1px;
        background-color: black;
    
    }
    .logoutButton{
        font-size:1.2rem;
    }
    
 }
 